*{
    font-family: Tahoma;
    box-sizing: border-box;
}

/* Header */

.header{
    background-color: burlywood;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    height: 100px;
    z-index: 100;
}

.header h1{
    margin-left: 50px;
}

/* container */

.container{
    z-index: 99;
    position: relative;
    max-width: 700px;
    top: 100px;
    margin: 0px auto 0px auto;

}

.container h2{
    font-size: 18px;
}

.kolom-konten{
    width: 500px;
    float: left;
    
}

.kolom-menu{
    background-color: aquamarine;
    margin-left: 10px;
    width: 190px;
    padding: 10px;
    float: left;

}
.kolom-menu ul{
    list-style-type: none;
}