body{
    width: 90%;
    margin: 0px auto;
    font-family: Arial;
    box-sizing: border-box;
}

.header{
    overflow: auto;
    text-align: center;
}

#content{
    overflow: auto;
}

#nav,  #feature, #footer{
    background-color: burlywood;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.column1, .column2, .column3{
    background-color: burlywood;
    width: 30%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 0.66%;
}

.column1{
    margin-left: 0px;
}

.column3{
    margin-right: 0px;
}

#content h3{
    text-align: center;
}

#feature img{
    width: 30%;
}

li{
    display: inline;
    padding: 5px;
}